
body {
  font-family: futura;
  color: black;
  margin: 3em;
}

h1 {
  font-family: futura;
  color: red;
  font-size: 70px;
}

p {
  font-style: bold;
  color: blue;  }

.ppic {
   width: 200px;
   height: 300px;
  }
  
#web-ring {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 15px;
    background-color: rgb(52, 86, 228);
    border: solid 2px white;
    font-family: sans-serif;

  }
#web-ring a:link {
    color: red;
    text-decoration: none;
  }

#web-ring a:hover {
    text-decoration: underline;
  }

 .firefly {
   width: 600px;
   height: 600px;
  }