
* {
  box-sizing: border-box;
}

body {
  font-family: 'Akaya Telivigala', cursive;
}

/* Style the header */
header {
  background-image: linear-gradient(beige, lightblue);
  padding: 10px;
  text-align: center;
  font-size: 50px;
  color: black;
  font-family: 'Oi', cursive;
}

header:hover {
  background-color: lightblue;
  color: white;
}


/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

nav ul {
  list-style-type: none;
  height: 100%; /* Full height */
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  color: black;
  font-family: 'Akaya Telivigala', cursive;
  width: 300px;
  background-color: beige;
}

li a {
  display: block;
  width: 300px;
  height: 100%; /* Full height */
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightblue;
  color: red;
}


article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: beige;
  padding: 10px;
}

p {
  font-size: 24px;
  color: black;
  padding: 5px;
  margin: 5px;
  border: 2px;
  border-color: gray;
}

h2 {
  font-size: 32px;
  color: black;
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
}

h3 {
  font-size: 32px;
  color: black;
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
}


/* Style the footer */
footer {
  background-color: lightgrey;
  padding: 5px;
  text-align: center;
  color: black;
  font-family: 'Akaya Telivigala', cursive;
}

footer:hover {
  background-color: lightblue;
  color: red;
}

img{
  height:500px; 
  width:800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 400px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
