
* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* Style the header */
header {
  background-color: yellow;
  padding: 10px;
  text-align: center;
  font-size: 50px;
  color: black;
  font-family: 'Akaya Telivigala', cursive;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  color: black;
  font-family: 'Akaya Telivigala', cursive;
  width: 200px;
  background-color: beige;
}

li a {
  display: block;
  width: 200px;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: lightblue;
  color: red;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: beige;
  padding: 10px;
}

p {
  font-size: 18px;
  color: black;
  padding: 5px;
  margin: 5px;
  border: 2px;
  border-color: gray;
}

h2 {
  font-size: 28px;
  color: black;
  text-align: center;
}

/* Style the footer */
footer {
  background-color: lightgrey;
  padding: 5px;
  text-align: center;
  color: black;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 400px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
