
* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* Style the header */
header {
  background-color: beige;
  padding: 10px;
  text-align: center;
  font-size: 50px;
  color: black;
  font-family: 'Redressed', cursive;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: lightblue;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  color: black;
  font-family: 'Redressed', cursive;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: beige;
  padding: 10px;
}

p {
  font-size: 18px;
  color: black;
}

h2 {
  font-size: 28px;
  color: black;
}

/* Style the footer */
footer {
  background-color: lightgrey;
  padding: 5px;
  text-align: center;
  color: black;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 400px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
