
  
  .h1 {
position: absolute;
width: 1385px;
height: 362px;
left: 120px;
top: 115px;

font-family: Hatton;
font-style: normal;
font-weight: 100;
font-size: 140px;
line-height: 176px;
display: flex;
align-items: center;
text-transform: uppercase;

color: #FFFFFF;

border: 2px solid #FFFFFF;
}

.rectangle1 {
position: absolute;
width: 1440px;
height: 290px;
left: 0px;
top: 0px;

background: #000000;
}

.rectangle2 {
position: absolute;
width: 1440px;
height: 720px;
left: 0px;
top: 180px;

background: linear-gradient(180deg, #7D7A8E 0%, rgba(174, 74, 74, 0.18) 100%);
}

.h2 {
position: absolute;
width: 1187px;
height: 336px;
left: 375px;
top: 386px;

font-family: Hatton;
font-style: normal;
font-weight: 500;
font-size: 70px;
line-height: 88px;
display: flex;
align-items: center;
text-transform: capitalize;

color: #FFFFFF;

}

.p {
position: absolute;
width: 450px;
height: 62px;
left: 1234px;
top: 749px;

font-family: Hatton;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 38px;
display: flex;
align-items: center;
text-transform: capitalize;

color: #FFFFFF;
}

/* Ellipse 1 */


position: absolute;
width: 229px;
height: 117px;
left: 1155px;
top: 722px;



  