body {
  font-family: Hatton;
  margin: 0;
}

a {
  color: white;
}

li {
  margin-right: 2rem;
}


/* header styles begin here */
.header {
position: absolute;
width: 1440px;
height: 290px;
left: 0px;
top: 0px;

background: #000000;
}

.main-title {
position: absolute;
width: 1181px;
height: 80px;
left: 129px;
top: 262px;

font-family: Hatton;
font-style: normal;
font-weight: 100;
font-size: 140px;
line-height: 176px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;


}

.author {
  position: absolute;
width: 659px;
height: 79px;
left: 390px;
top: 514px;

font-family: Hatton;
font-style: normal;
font-weight: 500;
font-size: 70px;
line-height: 88px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}


.text {
position: absolute;
width: 88px;
height: 62px;
left: 676px;
top: 718px;

font-family: Hatton;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 38px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;

}

.main-content {
position: absolute;
width: 1440px;
height: 610px;
left: 0px;
top: 290px;
z-index: -1;
background: linear-gradient(180deg, #7D7A8E 32.22%, rgba(174, 74, 74, 0.18) 100%);
}
  
