@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background: rgb(0,28,201);
  background: linear-gradient(0deg, rgba(0,28,201,0.5942752100840336) 27%, rgba(105,0,150,0.711922268907563) 100%);
  padding: 20px;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 10px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  
}

/*Clear floats after rows*/ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  padding: 15px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  font-family: 'Noto Sans JP', sans-serif;
  box-shadow:inset 0px 1px 0px 0px #efdcfb;
  background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
  background-color:#dfbdfa;
  border-radius:6px;
  border:1px solid #c584f3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #9752cc;
}

}
.btn:hover {
  background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
  background-color:#bc80ea;
}
.btn:active {
  position:relative;
  top:1px;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}