@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
  box-sizing: border-box;
   
}

body {
  font-family: 'New Tegomin', serif;
  background: beige;
  animation: mymovea 10s infinite;

  padding: 15px;
  
}

@keyframes mymovea {
  from {background-color: beige;}
  to {background-color: turquoise;}
}



/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-family: 'New Tegomin', serif;
  font-size: 80px;
  text-align: center;
  color: blueviolet;
  border-bottom: 10px solid blueviolet;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {border-bottom: 20px solid lightblue;}
}
.row {
  margin: 10px -16px;
  
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  display: none;

  
}

/*Clear floats after rows*/ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  padding: 5px;
  border:none;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  display: flex;
  justify-content: space-around;
 
  border: none;
  font-family: 'New Tegomin', serif;
  box-shadow:inset 0px 1px 0px 0px #efdcfb;
  background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
  background-color:#dfbdfa;
  cursor:pointer;
  color:#ffffff;
  font-size:20px;
  text-decoration:none;

  
}


.btn:hover {
  background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
  background-color:#bc80ea;
}
.btn:active {
  display: flex;
  justify-content: space-between;
  top:1px;
}



@media screen and (max-width: 900px) {
  .column {
    float: left;
    width: 50%;
    display: none;
  }
  /*Clear floats after rows*/ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  padding: 5px;
  border:none;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

  .btn {
    display: grid;
    display-template-columns; repeat (5, 1fr);
    grid-gap: 5px;
  }
  .btn:hover {
  background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
  background-color:#bc80ea;
}
.btn:active {
  display: flex;
  justify-content: space-between;
  top:1px;
}

 }

@media screen and (max-width: 600px) {
  .column {
    float: left;
    width: 100%;
    display: none;

  }


  .btn {
    display: grid;
    display-template-columns; repeat (5, 1fr);
    grid-gap: 5px;
  }
  /*Clear floats after rows*/ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  padding: 5px;
  border:none;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}
.btn:hover {
  background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
  background-color:#bc80ea;
}
.btn:active {
  display: flex;
  justify-content: space-between;
  top:1px;
}

  }