@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background: rgb(0,28,201);
  background: linear-gradient(0deg, rgba(0,28,201,0.5942752100840336) 27%, rgba(105,0,150,0.711922268907563) 100%);
  padding: 20px;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 50px;
  text-align: center;
  color: red;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows 
.row:after {
  content: "";
  display: table;
  clear: both;
}*/

/* Content */
.content {
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  font-family: 'Noto Sans JP', sans-serif;
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Cardcaptor Sakura */
.sakura {
  border-color: #4CAF50;
  color: green;
}

.sakura:hover {
  background-color: #4CAF50;
  color: white;
}

/* Sailor Moon */
.moon {
  border-color: #2196F3;
  color: dodgerblue
}

.moon:hover {
  background: #2196F3;
  color: white;
}

/* Cat Girl Nuku Nuku */
.nuku {
  border-color: #ff9800;
  color: orange;
}

.nuku:hover {
  background: #ff9800;
  color: white;
}

/* Clamp */
.clamp {
  border-color: #f44336;
  color: red
}

.clamp:hover {
  background: #f44336;
  color: white;
}

/* Hunter x Hunter */
.hunter {
  border-color: #e7e7e7;
  color: black;
}

.hunter:hover {
  background: #e7e7e7;
}

/* Marmalade Boy */
.marm {
  border-color: purple;
  color: purple;
}

.marm:hover {
  background: violet;
  color: white;
}
/* Saint Trail */
.saint {
  border-color: beige;
  color: yellow;
}

.saint:hover {
  background: brown;
  color: white;

}

/* Decetive Conan*/
.conan {
  border-color: #e7e7e7;
  color: black;
}

.conan:hover {
  background: #e7e7e7;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}