@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
input {
   position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  width: 130%;
  border: none;
  background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);;
  padding: 30px 33.33%;
  box-sizing: border-box;
  font-size: 70px;
  font-family: 'Chicle', cursive;
  font-weight: bold;
  outline: 0;
}
h1 {
    font-size: 35px;
   font-family: 'Chicle', cursive;
     border-bottom: 2px;
  border-bottom-style: dashed;
  padding: 10px;
  
}


body {
  transition: background 0.5s;
}


ul.topnav {
	font-family: 'Chicle', cursive;
	font-size: 22px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 background-color: transparent;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: grey;}

ul.topnav li a.active {background-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;
   	

}
  .border {
display: none;
 	



}
input {
	top: 60%;
border-radius: 50%;
background: none;
height: 250px;
font-size: 30px;
left: -30px;
}
}