@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
input {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border: none;
  background: linear-gradient(to bottom right , #ddd6f3 ,#faaca8);
  padding: 30px 33.33%;
  box-sizing: border-box;
  font-size: 55px;
	font-family: 'Raleway', sans-serif;
  font-weight: bold;
  outline: 0;
}

.border {
  position: absolute;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom left, #ddd6f3 ,#faaca8);
border-image-slice: 1;
width: 1240px;
height: 595px;
left: 95px;
top: 95px;


box-sizing: border-box;

}

body {
  transition: background 0.5s;
}


ul.topnav {
	font-family: 'Raleway', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: grey;}

ul.topnav li a.active {background-image: linear-gradient(to bottom right , #ddd6f3 ,#faaca8);}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {

  ul.topnav li.right, 
  ul.topnav li {float: none;


}
 
  .border {
display: none;
 


}

input {
	top: 55%;
border-radius: 50%;
height: 250px;
  font-size: 20px;

}
}