@font-face {
  font-family: "hattonmedium";
  src: url("fonts/hatton-medium-webfont.woff2") format("woff2"),
    url("fonts/hatton-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hattonsemibold";
  src: url("fonts/hatton-semibold-webfont.woff2") format("woff2"),
    url("fonts/hatton-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hattonultralight";
  src: url("fonts/hatton-ultralight-webfont.woff2") format("woff2"),
    url("fonts/hatton-ultralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}
body {
 background: rgb(146,34,195);
background: linear-gradient(0deg, rgba(146,34,195,0.711922268907563) 28%, rgba(45,253,245,0.5942752100840336) 100%);
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.header {
  font-family: "hattonultralight";
  font-size: 50px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 1px;
  text-decoration: none;
  list-style-type: none;
}

.header li:hover {
  font-family: "hattonultralight";
  font-size: 50px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: black;
  color: lightblue;
  padding: 1px;
  text-decoration: none;
  list-style-type: none;

h1 {
font-family: "hattonmedium";
text-align: center;
}

p {
font-family: "hattonmedium";
text-align: center;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "hattonmedium";
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background: rgb(45,253,245);
background: linear-gradient(0deg, rgba(45,253,245,0.5942752100840336) 20%, rgba(146,34,195,0.711922268907563) 100%);
  align-items: center;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-decoration: none;
}

.menu li:hover {
  background-color: black;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: white;
}
/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
a:active {
  color: grey;
  text-decoration: none;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  font-family: "hattonmedium";
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
