html, body {
    height: 100%;
    margin: 0;
    background-color: lightblue ;
  }
  .container {

    margin:auto;
    padding-top: 2%;
    justify-content: center;
    min-height: 90%;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container > div {
    display: flex; 
    flex-basis: calc(50% - 5%);  
    justify-content: center;
    flex-direction: column;
  }
  .container > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .box { margin: 1%; }

  .box1 {width: 0;
        height: 0;
        border: 100px solid orange;
        border-radius: 100px 100px 0px 0px;}

  .box2 {height: 150;
        background-color: rgb(245, 174, 165); 
        border-radius: 100px 100px 100px 100px;}

  .box3 {height: 150;
        background-color: rgb(245, 174, 165); 
        border-radius: 100px 100px 100px 100px;}

  .box4 {width: 0;
        height: 0;
        border: 100px solid orange;
        border-radius: 0px 0px 100px 100px;}


  

@media only screen and (max-width: 450px) {

    .container {
        margin:auto;
        padding-top: 30%;
        justify-content: center;
        max-height: 50%;
        max-width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }


}




@media only screen and (max-width: 450px) {

    .container {
        margin:auto;
        padding-top: 30%;
        justify-content: center;
        max-height: 50%;
        max-width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }


}